.search_main_header {
  display: block;
  flex: 1;
  position: relative;
  margin: 0 50px;
}

.search_input {
  height: 35px;
  width: 500px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ededf5;
  padding: 1em;
  outline: none;
  font-family: 'Montserrat';

  &::placeholder {
    color: #c6bcc9;
  }
}

.search_button {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #fff;
  height: 35px;
  color: #7b8191;
  transition: none;
  font-size: 14px;
  padding: 4px 15px;
  border: 1px solid #ededf5;
  border-left: 0px !important;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
