.main_header {
  position: relative;
  border-bottom: 1px solid #f3f5f7;
  height: 64px;
  background-color: #fff;
}

.container {
  height: 100%;
  max-width: 85% !important;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba(183, 180, 180, 0.51);
  margin: auto;
}

.header_left {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header_right {
  display: flex;
  align-items: center;
}

.navbar_right {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.navbar_collapse {
  display: flex !important;
  flex-basis: auto;
  background: transparent;
  flex-grow: 1;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
  margin-left: auto;
}

.nav_item {
  position: relative;
  display: list-item;
}

.nav_link {
  border-radius: 25px;
  display: block;
  font-size: 22px;
  color: rgba(56, 202, 179, 0.2);
  position: relative;
  line-height: 33px;
  outline: none;
  height: 37px;
  width: 37px;
  margin: auto 6px;
  text-align: center;
  transition: 0.3s color;
  cursor: pointer;

  svg {
    overflow: hidden;
    vertical-align: middle;
  }
}

.profile-user {
}

.profile_image {
  border-radius: 50%;
  margin-left: 0;
  width: 37px;
  height: 37px;
  box-shadow: 0px 4px 15px 0px #dbe4f9;
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
