@use 'styles/variables.module';
@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin headings {
  line-height: 1.2;
  margin: 0 0 8px 0;
}

:root {
  --primary: 3,148,212;
  --primary-hover: rgba(var(--primary), 0.8);
  --white: #fff;
  --secondary: rgb(247, 79, 117);
  --secondary-hover: rgb(243 52 97);
  --warning: #ffbd5a;
  --warning-hove: #f8ab37;
  --danger: #f34343;
  --danger-hover: #f34343;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: variables.$body-bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0 0 8px 0;
  font-family: 'Montserrat';
  font-weight: 500;
}

h1 {
  font-size: 38px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
